export GOBUILDDIR=$(pwd)/.gobuild
export GOPATH=$GOBUILDDIR
PATH_add $GOBUILDDIR/bin

if [ ! -e ${GOBUILDDIR} ]; then
    mkdir -p ${GOBUILDDIR}/src/github.com/pulcy/
    ln -s ../../../.. ${GOBUILDDIR}/src/github.com/pulcy/kube-lock
fi

# go get github.com/YakLabs/k8s-client
# go get github.com/juju/errgo